<div class="container" *ngIf="assignment">
    <h1>Edition du devoir {{assignment.nom}}</h1>
    <form ngForm class="form">
    <mat-form-field>
        <input matInput [matDatepicker]="picker"
            [disabled]="!isAdmin()"
            [(ngModel)]="assignment.dateDeRendu"
            placeholder="Date de rendu"
            name="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
 
    <mat-form-field>
        <input matInput 
            [disabled]="!isAdmin()"     
            placeholder="Nom du devoir"
            [(ngModel)]="assignment.nom"
            name="nom">
    </mat-form-field>

    <button mat-flat-button 
        [disabled]="!isAdmin()"
        color="primary" 
        (click)="onSaveAssignment($event)">
        Ajouter un devoir
    </button>
    </form>
</div>