<div>
    <mat-toolbar class="head">
      <mat-toolbar-row> 
        <img class="logo" src="../assets/UCA-Logo-1niveau-RVB-Blanc.png"/>
        <div class="div">
          <h1  class="text">{{noms+" - "+title}}</h1>
        </div>
      </mat-toolbar-row>
    
      <mat-toolbar-row > 

        <button mat-icon-button (click)=clicSurBouton() aria-label="1">
          <mat-icon class="buttonHead">menu</mat-icon>
        </button>
        <nav>
          <a routerLink="/home">
            <button mat-icon-button aria-label="2">
              <mat-icon class="buttonHead">home</mat-icon>
            </button>
          </a>
        </nav>
        
          <div class="flex-container" *ngIf="!this.authService.loggedIn">
            <mat-form-field class="my-small-items2">
              <input matInput 
                placeholder="Nom"
                [(ngModel)]="nom"
                name="nom">
              </mat-form-field>
              <div style="font-size: 10px">
              <mat-form-field class="my-small-items2">
                <input matInput 
                [type]="hide ? 'password' : 'text'"           
                     [(ngModel)]="mdp"
                  placeholder="Mot de passe"
                  name="nom">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                  </button>
              </mat-form-field>
              </div>
                <button mat-flat-button 
                (click)="login($event)"
                  color="primary" 
                  class="my-small-items">
                  Valider
                </button>
            </div>
            <div class="flex-container" *ngIf="this.authService.loggedIn">
              <button mat-icon-button style="color: white" aria-label="Example icon button with a heart icon"
              (click)="deconnexion($event)">
                <mat-icon>exit_to_app</mat-icon>
                
              </button>
            </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

<div>
  <mat-sidenav-container>
    <mat-sidenav [opened]="opened"  mode="push">
      <nav>
        <a routerLink="/home">
          <button mat-button class="buttonSideNav">Liste des devoirs</button>
        </a>
      </nav>
      <nav>
        <a routerLink="/add">
          <button mat-button class="buttonSideNav">Ajout d'un devoir</button>
        </a>
      </nav>
      <button mat-button (click)="value()" class="buttonSideNav">Modification d'un devoir</button>
      <button mat-button (click)="value2()" class="buttonSideNav">Suppression d'un devoir</button>
      <button mat-button (click)="value3()" class="buttonSideNav">Génération de données de test</button>
      </mat-sidenav>
      <mat-sidenav-content >
        <div>
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
  </mat-sidenav-container>
</div>  
  