
.table-with-shadow {
    box-shadow: 0 4px 8px rgb(0, 0, 0); /* Vous pouvez ajuster les valeurs selon vos besoins */
    margin: 10px;
  }

.container {
    display:flex;
    flex-direction: column;
}
.ajouterBtn{
    align-self: flex-end;
}
.form {
    display:flex;
    flex-direction: column;
    margin: 5px;
}

