<main class="container">

    <mat-table #table [dataSource]="assignments">

    
        <!------------------------------------->
        <!-- Définition de la colonne "name" -->
        <!------------------------------------->

        <!-- Définition de la colonne "name" -->
        <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
            <mat-cell *matCellDef="let assignment">{{ assignment.nom }}</mat-cell>
        </ng-container>

        <!-- Définition de la colonne "dateDeRendu" -->
        <ng-container matColumnDef="dateDeRendu">
            <mat-header-cell *matHeaderCellDef>Date de rendu</mat-header-cell>
            <mat-cell *matCellDef="let assignment">{{ assignment.dateDeRendu | date }}</mat-cell>
        </ng-container>

        <!-- Définition de la colonne "liens" -->
        <ng-container matColumnDef="liens">
            <mat-header-cell *matHeaderCellDef>Liens</mat-header-cell>
            <mat-cell *matCellDef="let assignment"><button mat-raised-button color="primary" routerLink="/assignment/{{ assignment.id }}">Aller à la page</button></mat-cell>
        </ng-container>

        <!--------------------------------------->
        <!-- Utilisation des colonnes définies -->
        <!--------------------------------------->
        <mat-header-row *matHeaderRowDef="['name', 'dateDeRendu','liens']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['name', 'dateDeRendu','liens']"></mat-row>
    </mat-table>

    <mat-paginator 
        (page)="handlePageEvent($event)"
        [length]="totalDocs" 
        [pageSize]="limit" 
        [pageSizeOptions]="[10, 20 , 30]" 
        aria-label="Select page"
    ></mat-paginator>


</main>

