
<mat-form-field >
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter()" placeholder="Search columns" #input>
</mat-form-field>



<section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table #table [dataSource]="assignments" class="table-with-shadow">

    
        <!------------------------------------->
        <!-- Définition de la colonne "name" -->
        <!------------------------------------->


        <!-- Définition de la colonne "name" -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let assignment">{{ assignment.nom }}</td>
        </ng-container>

        <!-- Définition de la colonne "dateDeRendu" -->
        <ng-container matColumnDef="dateDeRendu">
            <th mat-header-cell *matHeaderCellDef>Date de rendu</th>
            <td *matCellDef="let assignment">{{ assignment.dateDeRendu | date }}</td>
        </ng-container>
        
        <!-- Définition de la colonne "liens" -->
        <ng-container matColumnDef="detaille">
            <th mat-header-cell *matHeaderCellDef>Détaille</th>
            <td *matCellDef="let assignment"><button mat-raised-button color="primary" (click)="function(assignment)">Détaille</button></td>
        </ng-container>

        <!-- Définition de la colonne "liens" -->
        <ng-container matColumnDef="liens">
            <th mat-header-cell *matHeaderCellDef>Liens</th>
            <td *matCellDef="let assignment"><button mat-raised-button color="primary" routerLink="/assignment/{{ assignment.id }}">Aller à la page</button></td>
        </ng-container>

        <!--------------------------------------->
        <!-- Utilisation des colonnes définies -->
        <!--------------------------------------->
        <tr mat-header-row *matHeaderRowDef="['name', 'dateDeRendu' , 'detaille' ,'liens'] sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: true; columns: ['name', 'dateDeRendu' , 'detaille','liens']"></tr>
    </table>

    
    
    <section style="position: sticky; bottom: 0; background-color: white; z-index: 1;">
        <div *ngIf="this.assignmentSelectionne!=null">
        <mat-card ng>{{this.assignmentSelectionne.id}}</mat-card>
        </div>
        <mat-paginator 
        (page)="handlePageEvent($event)"
        [length]="totalDocs" 
        [pageSize]="limit" 
        [pageSizeOptions]="[10, 20 , 30]" 
        aria-label="Select page"
        ></mat-paginator>
        

   
</section>

