<div class="container">
    <mat-card *ngIf="assignmentTransmis">
        <mat-card-title>
            {{assignmentTransmis.nom}}
        </mat-card-title>
        <mat-card-subtitle>
            {{assignmentTransmis.dateDeRendu|date}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            Auteur: {{assignmentTransmis.auteur}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            Matière: {{assignmentTransmis.matiere}}
        </mat-card-subtitle>
        <p>{{MatiereImages[assignmentTransmis.matiere]}}</p>

        <img [src]="MatiereImages[assignmentTransmis.matiere]" alt="Image de la matière">
        <mat-card-subtitle>
            Professeur: {{assignmentTransmis.prof}}
        </mat-card-subtitle>
        <img [src]="ProfImages[assignmentTransmis.prof]" alt="Image du professeur">
        <mat-card-subtitle>
            Note: {{assignmentTransmis.note}}
        </mat-card-subtitle>
        <mat-card-subtitle>
            Remarques: {{assignmentTransmis.remarques}}
        </mat-card-subtitle>
        
        <mat-checkbox [disabled]="!isAdmin()"  *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
            Devoir rendu
        </mat-checkbox>
        <button [disabled]="!isAdmin()" mat-flat-button color="accent" (click)="onDeleteAssignmentBtnClick()">
            Supprimer devoir
        </button>
        <button  [disabled]="!isLogged()" color="primary" (click)="onClickEdit()">
            Modifier devoir
        </button>
    </mat-card>
</div>