<div class="container">
    <mat-card *ngIf="assignmentTransmis">
        <mat-card-title>
            {{assignmentTransmis.nom}}
        </mat-card-title>
        <mat-card-subtitle>
            {{assignmentTransmis.dateDeRendu|date}}
        </mat-card-subtitle>
        <mat-checkbox [disabled]="!isAdmin()"  *ngIf="!assignmentTransmis.rendu" (click)="onAssignmentRendu()">
            Devoir rendu
        </mat-checkbox>
        <button [disabled]="!isAdmin()" mat-flat-button color="accent" (click)="onDeleteAssignmentBtnClick()">
            Supprimer devoir
        </button>
        <button  [disabled]="!isLogged()" color="primary" (click)="onClickEdit()">
            Modifier devoir
        </button>
    </mat-card>
</div>

