.container {
    display: flex;
    justify-content: center;
}

.mat-card {
    width: 1200px; /* Adjust as needed */
    height: auto; /* Adjust as needed */
    margin: 2em auto;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.flex-item {
    flex: 1;
    text-align: center;
}

h4 {
    font-size: 0.8em;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 1em;
}


.matiere-image,
.prof-image {
    width: 200px; /* Adjust as needed */
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    background-color: #f9f9f9;
    margin-top: 10px;
}

.checkbox-container,
.subtile-card-container,
.test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}